*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/kopie
/todo.txt
/CreateBackup.bat
/sql
/excluded
.apt_generated/
.settings/
target/
bin/
.metadata/
.classpath
.factorypath
.project
/logs/
/test-mvn3.bat
